html {
    background: lightslategray;

}

/*@media (max-width: 1200px)  and (max-width: 992px) {

    p{
        background-color: yellowgreen;
        text-align: center;
    }

    h2, h3, h4, h5, h6{

        text-align: center;
    }

    img{

        width: 23%;
        height: auto;

    }

}
@media (max-width 600px) {

    p{
        background-color: yellowg!important;
    }
}
@media (min-width: 600px) {

    h1{
        color: blueviolet!important;
    }

}

*/
body {
    background:#ffff ;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0 auto ;
    max-width: 1250px;
    padding: 20px 30px 20px 30px;

}


h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(0, 255, 234);
    background-color: rgba(120, 151, 255, 1.0);
}

h1 {
    text-align: center;
    font-size: 92px;
    font-weight: 600;
    line-height: 1;
    color: darkcyan;
}

h2 {
    font-size: 48px;
    font-weight: 200;
    font-style: italic; 
    margin-top: 20px;
    line-height: 1;
}

h3 {
    margin-top : 50px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    font-weight: 800;
}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

a {
    color: #AC51FE;
}

b, strong {
    font-weight: 600;
}

img.photo_de_florian {
    
    border: 10px solid #000000;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

li {
    font-weight: bold;
}


